body {
    font-family: 'Forum', cursive;
    height: 100vh;
    background: rgb(38, 38, 38);
    background: linear-gradient(90deg, rgb(248, 244, 150) 0%, rgb(255, 203, 19) 61%, rgb(110, 98, 4) 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
}

.link {
    font-size: 48px;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(221, 221, 221);
}

.item {
    display: flex;
    align-items: end;
    padding-top: 200px;
    display: flex;
    align-items: end;
}

.text {
    padding-left: 50px;
}

.name {
    margin: 0;
    padding-bottom: 10px;
    font-size: 36px;
    color: #e86100;
}

.image {
    box-shadow: 25px 25px 50px 0px rgb(164, 163, 45);
    border: 1px solid rgb(255, 233, 0);
    width: 400px;
    height: 300px;
}

.description {
    margin: 0;
    color: #b04e01;
    font-size: 24px;
}